body,
.wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  grid-template-rows: 10% 30% repeat(1, minmax(10px, 1fr));
  background-color: #222224;
  color: white;
}

.header {
  grid-column: 1 / 3;
  place-self: center;
}

/* Add book info */

.book-information {
  display: grid;
  grid-column: 1 / 3;
  place-self: center;

  padding: 20px;
}

.book-information > form {
  display: grid;
  gap: 10px;
}

.book-information > form > button,
.isBookRead,
.removeBook {
  max-width: 100px;
  max-height: 50px;
}

/* Add book info Ends */

/* Book Layout */

.book-layout-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 50px;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-content: center;
  align-items: center;
}

.card {
  color: black;
}

/* Book Layout Ends*/
